body {
      font-family: Arial, sans-serif;
      max-width: 650px;
      margin: 40px auto;
      color: black
    }
    input {
      font-size: 1em;
      margin-top: 10px;
    }
    button {
      margin-top: 15px;
      margin-right: 10px;
    }
    .feedback {
      margin-top: 15px;
      font-weight: bold;
      color: black;
    }
    .correct { color: green; }
    .incorrect { color: red; }